@font-face {
  font-family:PokemonHollow ;
  src: url('./font/PokemonHollow.ttf');
  font-family: PokemonSolid;
  src: url('./font/PokemonSolid.ttf');
  font-family: PokemonClassic;
  src: url('./font/PokemonClassic.ttf');  
}

:root{
  --pokemon-font-hollw: PokemonHollow;
  --pokemon-font-solid: PokemonSolid;
  --pokemon-font-classic: PokemonClassic;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #111b21;
  color: #d1d7db;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
