.create-container {
    width: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    padding: 5rem;
    background-image: url('../../assets/img/fondo5.webp');
    background-size: auto;
}

.form-content {
    
    padding-top: 4rem;
    padding: 2rem;
    /* border: solid 1px #000; */
    border-radius: 20px;    
    box-shadow: 2px 2px 38px 0px rgba(0,0,0,0.87) inset;
    -webkit-box-shadow: 2px 2px 38px 0px rgba(0,0,0,0.87) inset;
    -moz-box-shadow: 2px 2px 38px 0px rgba(0,0,0,0.87) inset;
}

.form-content .head{
    display: flex;
    justify-content: space-around;
    padding: 25px;
}

.head .name, .head .image{
    display: flex;
    justify-content: space-evenly;
}

.head .name label, .head .image label{
    padding-right: 10px;
}


.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 10px;
    width: 30vw;
}

.features label{
    margin-top: 10px;
}

.features div {
    display: flex;
    margin: 0;
}

.features div input{
    width: 500px;
}

.typeSelect {
    padding: 3rem;
}

.typeSelect ul {
    list-style-type: none;
}

.errorMsj{
    margin: 0;
    padding: 0;
}