.banner{
    display: flex;
    flex-direction: column;
    
    height: 20rem;
    align-items: center;
    align-content: center;
    

}

.bannerImg{
    width: 17rem;
    padding-top: 3rem;
}

.results{   
    padding: 3rem;    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    gap: 3rem 0;
}

.results a{
    text-decoration: none;
}

.SearchBar{
    display: flex;
    justify-content: center;
}

.filters{
    display: flex;
    flex-direction: row;
    justify-content: center;
}






