.banner{
    display: flex;
    flex-direction: column; 
    position: relative;     
    
    height: 20rem;
    align-items: center;
    align-content: center;
    z-index: 5; 
    padding-top: 5em;
    /* opacity: .5;      */

}

.banner::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    opacity: .6;
    background: url('../../assets/img/cardBackgroud.webp');   
    background-size:contain;
    
}

.bannerImg{
    width: 17rem;
    padding-top: 3rem;
}

.resultContainer{
    display: flex;
    flex-direction: column; 
    position: relative;     
    
    /* height: 20rem; */
    padding-top: 1.5rem;
    align-items: center;
    align-content: center;
    z-index: 5; 
    padding-top: 3em;
    /* opacity: .5;      */

}


.results{   
        
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    gap: 3rem 0;
}

.results a{
    text-decoration: none;
}

.SearchBar{
    display: flex;
    justify-content: center;
    position: relative;
}

.filters{
    display: flex;
    flex-direction: row;
    justify-content: center;
}






