@font-face {
    font-family: PokemonHollow ;
    src: url('../../font/PokemonHollow.ttf');
}

.container{
    display: flex;
}

.button{
    width: 20rem;
    display: flex;
    position: relative;
    right: 50px;
    top: 70px;
}

.landing{
    background-image: url('./fondo-landing.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 960px;
    height: 600px;
}