.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 20px 10px;
  margin-right: 20px;
  border-radius: 13px;
  /* border: 2px solid #b0215e; */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  background: #515151;
  color: #f0f0f0;
  box-sizing: border-box;
  width: 8rem;

}

.title {
  font-size: 24px;  
  text-align: center;  
}

.types{
  font-weight:100;
}

.img {
  background: #727272;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* border: 1px solid #ffde00; */
  padding: 1.5rem;
  border-radius: 13px;
  height: 200px;
  width: 200px;
}