.container{
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
}

.container 

.orderBy{
    padding: 5px;
}

.orderBy p{
    font-size: large;
    display: contents;
    padding-right: 5px;
}

.orderBy span{
    padding: 0 5px 0 10px;
}

