.container{
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
}

.container 

.orderBy{
    padding: 5px;
    background-color: #515151
}

.orderBy p{
    font-size: large;
    display: contents;
    padding-right: 5px;
}

.orderBy span{
    padding: 0 5px 0 10px;
}

.selectBy{
    display: flex;
    align-items: center;
    padding: 7px;
    padding-top: 10px;
    background-color: #515151;
}

.selectBy select{
    margin: 0 5px;
}

.clear{    
    margin-right: 5em;
}
